.filter-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 40vh;
}

label {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .filter-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: initial; 
    height: auto;
    width: 100%;
  }
  input{
    margin: 5px
  }
}
